extends layout

block content
    h2= title
    p
        a.btn.btn-default(href='/order/create_payment_url') Tao giao dich moi
        |  
        a.btn.btn-default(href='/order/transactions') Xem JSON transactions
    if orders && orders.length
        table.table.table-bordered
            thead
                tr
                    th Ma don
                    th So tien
                    th Trang thai
                    th Ma phan hoi
                    th Tao luc
                    th Lan cap nhat gan nhat
            tbody
                each item in orders
                    tr
                        td= item.orderCode
                        td= item.amount
                        td= item.status
                        td= item.responseCode || '-'
                        td= item.createdAt
                        td= item.transactions.length ? item.transactions[0].source : '-'
    else
        p Chua co don hang. Hay tao giao dich moi de test sandbox.
